html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

.background-container {
  min-height: 100vh;
  min-width: 100%;
  background-image: url(./assets/bg2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.content-container-landing {
  height: 100vh;
  /* width: 100%; */
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header {
  border-bottom: solid;
  border-width: 0.2px;
  border-color: rgba(255, 255, 255, 0.479);
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  width: 200px;
  /* border: 1px solid red; */
}

.nav-links-container {
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
}

.nav-links-container a {
  font-size: 14px;
  color: white;
  margin: 0 30px;
}

.welcome-text-container {
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.welcome-text-container h1 {
  margin: 0;
  font-size: 50px;
}

.welcome-text-container h3 {
  margin: 0;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: normal;
}

.login-container {
  background-color: #30706d;
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.login-btn{
    background-color: #30706d;
    color: white;
    border: none;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0.8em;
}

.register-container {
  background-color: #61d185;
  width: 50%;
  position: relative;
}

.register-btn {
  background-color: #61d185;
  color: white;
  border: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0.8em;
}

.skew-container {
  margin-left: -10px;
  width: 25px;
  height: 100%;
  background-color: #61d185;
  transform: skew(-11deg);
}

/***********    ABOUT US SECTION         **************/
.about-us-section{
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-container-about{
    width: 80%;
    height: 70%;
    display: flex;
    /* border: 1px solid pink; */
}

.left-section-container{
    width: 50%;
    display: flex;
    align-items: center;
    /* border: 1px solid pink; */
    min-width: 380px;
}

.border{
    width: 90%;
    height: 80%;
    border-right: 2px dotted #A5AFA4;;
    min-width: 350px;
}

.text-container{
    /* border: 1px solid red; */
    min-width: 315px;
    height: 100%;
    width: 90%;
}

.logo-img-container{
    /* border: 1px solid green; */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}

.img-contatiner2{
    height: 100%;
    /* border: 1px solid red; */
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.company-member-img{
    border-radius: 50px;
    border: 3px solid #A5AFA4;
    margin-bottom: 8px;
}

.name-role-header{
    margin: 3px;
}

.role{
    color: #A5AFA4;
    font-weight: normal;
    font-size: 0.85rem;
}

.social-media-container-icons i{
  margin: 0 5px;
  color: #A5AFA4;
}



/**********      CAROUSEL SECTION       *************/
.carousel-container{
    color: white;
    height: 150px;
    background-image: url(./assets/carousel-img.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #464646;
     background-position-y: 200px;
}

.img-container-carousel {
    background-color: rgba(0, 0, 0, 0.7);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-text-container{
    width: 50%;
    height: 66%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.carousel-header{
    text-align: center;
    font-weight: lighter;
}


/************ SERVICES SECTION *************************/
.services-container{
    height: 300px;
    display: flex;
    justify-content: center;
}

.flex-content-container{
    width: 80%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 730px;
}

.icon-text-container{
    margin-left: 10px;
    width: 100%;
    height: 60%;
    min-width: 180px;
    max-width: 250px;
    /* border: 1px solid pink; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.color-background{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: white;
    font-size: 22px;
}

.services-text-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.services-text-container h3{
    margin: 0;
}

.services-text-container p{
    margin: 0;
    text-align: center;
}


/****************** FOOTER SECTION ***************************/
.footer-container{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242322;
}

.footer-content-main-container{
    width: 80%;
    height: 60%;
    /* border: 1px solid pink; */
    display: flex;
}

.footer-content-section{
    height: 100%;
    border-right: 1px solid #A5AFA4;
    width: 33%;
    color: #A5AFA4;
}

.no-border{
    border: none;
    display: flex;
    justify-content: center;
}

.text-left-container{
    width: 80%;
}

.nav-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-navigation-container{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.nav-column{
    display: flex;
    flex-direction: column;
}

.nav-column a{
    margin: 5px 0;
    font-weight: lighter;
    font-size: 1rem;
}

.nav-column a span:hover{
    padding-left: 5px;
    color: white;
    cursor: pointer;
}


.footer-contacts span{
    padding-left: 10px;
}